SOURCES/Python-2.7.13.tar.xz
SOURCES/firefox-60.3.0esr.source.tar.xz
SOURCES/firefox-langpacks-60.3.0esr-20181019.tar.xz
SOURCES/firefox-symbolic.svg
SOURCES/gtk3-private-3.22.26-1.el6.src.rpm
SOURCES/libffi-3.0.13-18.el7_3.src.rpm
SOURCES/yasm-1.2.0-3.el5.src.rpm
