SOURCES/Python-2.7.8.tgz
SOURCES/devtoolset-2-binutils-2.23.52.0.1-10.el5.src.rpm
SOURCES/firefox-45.3.0esr.source.tar.xz
SOURCES/firefox-langpacks-45.3.0esr-20160727.tar.xz
SOURCES/gcc48-4.8.2-16.el5.src.rpm
SOURCES/yasm-1.2.0-3.el5.src.rpm
